
* {
    padding: 0;
    margin: 0;
}

.main-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

body {
    min-height: 100vh;
    /* display: flex; */
}

.card {
    position: relative;
    width: 320px;
    height: 420px;
    background: #806e48;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #f39121;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -60%;
    transform: skewY(390deg);
}

.card::after {
    content: "Urban";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.card .imgBx img {
    max-width: 90%;
    transition: 0.5s;
}

.card:hover .imgBx img {
    max-width: 70%;
}

.card .contextBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .contextBx h3 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contextBx .price {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .contextBx .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #f39121;
    border-radius: 30px;
    text-decoration: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card .contextBx .buy {
    top: 0;
    opacity: 1;
}

.login-btn{
    margin: 10px;
    width: 100px;
    height: 30px;
}

.center{
    text-align: center;
    margin-top: 20px;
}